<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      	<% @produtos.each do |produto| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          	<%= produto.nome %>
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text"><%= produto.descricao %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add no carrinho</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      	<% end %>
      </div>
    </div>
  </div>