<div class="row">
  <h1>Pedido no valor R$ <%= @valor %> concluido com sucesso ID: <%= @id %></h1>
  <h1>Segue o seu boleto:</h1>
  <h1>Numero: <%= @numero_boleto %></h1>
</div>
<hr>
<div>
  Clique <a href="<%= @pdf_boleto %>" target="_blank" >aqui</a> para imprimir o boleto
</div>
