<div class="row">
  <h1>Pedido no valor R$ <%= @valor %> concluido com sucesso ID: <%= @id %></h1>
</div>
<hr>
<div>
  Clique <a href="<%= @comprovante %>" target="_blank" >aqui</a> para ver o comprovante
</div>
