<div class="page-header">
  <%= link_to tipo_produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo Tipo Produto</h1>
</div>

<%= render 'form' %>