<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_produto.nome %>
</p>

<%= link_to 'Edit', edit_tipo_produto_path(@tipo_produto) %> |
<%= link_to 'Back', tipo_produtos_path %>
